body{
    background-color: LightGreen;
}

header{
    width: 400px;
    height: 100px;
    margin:auto;
    text-align:center;
    background-color:white;
    font-family: 'Pacifico', cursive;
    border-radius:5px;
    border: 2px solid black;
}


#section{
    width:400px;
    max-height:400px;
    text-align:center;
    background-color:white;
    margin:auto;
    margin-top: 1%;
    border-radius:5px;
    border: 2px solid black;
    font-family: 'Pacifico', cursive;
}



#input{
    width: 235px;
    margin-left:auto;
    margin-right:auto;
    margin-top:1%;
    background-color: white;
}

#text{
    float:left;
}

#submit{
    float:left;
    margin-left:1%;
}

#error{
    color:red;
}

#msg{
    padding:5px;
    color:green;
}