body{
    background-image:url("pics/background.jpg");
    background-repeat:no-repeat;
    overflow:hidden;
    
}


/* Window div and all in it */
.window{
    position:absolute;
    width: 320px;
    height: 280px;
}

.content{
    border:1px solid black;
    width: 99.8%;
    height: 100%;
    color:white;
    background-color:black;
    background-color:rgba(100,100,100, 0.8);
    overflow: auto;
    
/*-----Magic!-----*/
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-around;
}

.imageBox{
    text-align:center;
    background-color:black;
    width:80px;
    height:60;
    margin-top:6%;
    border:1px solid white;
}

.galleryImage{
    margin-top: 6%;
}

.windowTop{
    color:white;
    background-color:black;
    background-color:rgba(0, 0, 0, 0.85);
    width:100%;
    height:25px;
    float:left;
    border-bottom:1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.title{
    margin-left:30px;  
}

.titlePic{
    float:left;
    width:20px;
    height:20px;
    margin-top: -16px;
    margin-left:2px;
}

.close{
    width:20px;
    height:20px;
    float:right;
    margin-top: -16px
}
.close:hover{
    background-color:white;
    background-color:rgba(255,255,255,0.4);
}

.windowBot{
    color:white;
    background-color:black;
    background-color:rgba(0, 0, 0, 0.85);
    
    width:100%;
    height:25px;
    
    border-top: 1px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    
}
.windowBot img{
    margin-left: 43%;
    margin-top: 1.2%;
}

/* Image viewer window */
.imageViewerWindow {

    position:absolute;

}



/* Appbar at the bottom */
.appbar{
    text-align:center;
    background-color:black;
    background-color:rgba(0, 0,0 ,0.4);
    height: 50px;
    width: 99%;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
    bottom:0;
    z-index:90000;
}
.appbar img{
    width:40px;
    height: 40px;
    margin-right:3px;
    margin-top:5px;
    
}

.appbar img:hover{
    transform:translateY(-4px);

}